aside {
  width: 320px;
  margin-bottom: 30px;
  background-color: #0ef529;
  border-radius: 10px;
  padding: 30px 20px;
  position: fixed;
  box-shadow: 0 0 14px 0 rgb(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  aside {
    position: relative;
  }
}

aside strong {
  font-size: 20px;
  text-align: center;
  display: block;
  color: white;
}

aside form {
  margin-top: 30px;
}

aside form .input-block label {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 5px 0;
  text-align: center;
}

aside form .input-block input {
  background-color: #995ef2;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

aside form .input-block textarea {
  background-color: #995ef2;
  margin-top: 2px;
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  resize: none;
  padding: 10px;
  color: white;
}

aside form button[type="submit"] {
  background-color: white;
  color: #f25ee4;
  width: 100%;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

aside form button[type="submit"]:hover {
  background-color: #f25ee4;
  color: white;
}
